.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f1f1f1 0%, #000000 100%);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.welcome-slider {
  margin: 1px auto;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-prev {
  z-index: 1;
  left: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  z-index: 1;
  right: 100px;
  position:absolute;
  top: 50%;
}


.slick-prev:before, .slick-next:before {
  font-size: 60px;
  color: black;
}

.userCommentsComponent-section{
  margin-top: 50px;
}

.userCommentsComponent-title{
  text-align: center; 
  font-size: 24px; 
  color: #333;
  margin-bottom: 20px;
}